/* Fondo principal de la página: #F9FAFB (Blanco Hueso)

Barras laterales o secciones secundarias: #A2D8F3 (Celeste Claro)

Textos o títulos principales: #B0E0E6 (Azul Pastel) o #C9E8FF (Azul Suave)

Botones y elementos interactivos: #B7E4C7 (Verde Pastel) o #D8C9FF (Lavanda Claro) */

html{
    box-sizing: border-box;
    font-family: sans-serif;
}

*,
*::after,
*::before{
    box-sizing: inherit;
}

body {
    background-color: #F9FAFB;
}

.content-notes {
    width: 100%;
    height: 85vh;
    background-color: #C9E8FF;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
}

.note {
    width: 95%;
    height: 120px;
    padding: 20px;
    font-size: 2.5rem;
    border-bottom: 3.5px solid #F9FAFB;
    display: flex; 
    align-items: center;
    position: relative;
    z-index: 1;
}

.create-note {
    height: 10rem;
    width: 10rem;
    background-color: #B7E4C7;
    display: flex;
    position: fixed;
    right: 2rem;
    bottom: 3rem;
    z-index: 999;
    border-radius: 50%;
    justify-content: center;
    align-items: center;
}

.create-note i {
    color: #407F52; /* Ícono verde oscuro */
    font-size: 5.5rem;
}

.delete-btn {
    background-color: #A2D8F3;
    width: 12rem;
    height: 110px;
    border: none;
    border-radius: 20px;
    color: #fff;
    font-size: 2.5rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
    position: absolute;
    right: 0;
    z-index: 999;
}

.delete-btn {
    background-color: #8CC9E6; 
}
